<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DB 체크 - Store 테이블 확인</title>
</head>
<body>

id : {{id}} <br>
가게 이름 : {{name}} <br>
가게 전화번호 : {{phoneNum}} <br>
가게 주소 : {{address}} <br>
가게 위도 : {{latitude}} <br>
가게 경도 : {{longitude}} <br>

</body>
</html>